.scroll-top {
  height: 35px;
  width: 35px;
  background: #3E6482;
  text-align: center;
  position: fixed;
  right: 20px;
  cursor: pointer;
  bottom: 50px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
.scroll-top i {
  line-height: 35px;
  color: #fff;
  font-size: 24px;
  }
.not-visible {
  visibility: hidden;
  opacity: 0;
  }