<!--====================================================================
						Start Overview Section
=====================================================================-->
<section class="overview-area ptb-1">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="video-sec">
					<div class="overlay1"></div>
					<img src="%=static=%img/assets/overview/overview.jpg" alt="video-img">
					<a href="https://www.youtube.com/watch?v=6UpjCLo9Hfs" class="play-btn">
						<i class="fa fa-play"></i>
					</a>
					<h3>Watch our company presentation</h3>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="overview-content">
					<h3>We help businesses innovate and grow startup</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod inciddunt ametfh consectetur dolore magna aliqua. Ut enim ad minim veniam dolor siamet magnaelit ate consectetur.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod inciddunt ametfh consectetur dolore magna aliqua. Ut enim ad minim veniam dolor siamet magnaelit ate consectetur.Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod inciddunt ametfh</p>
					<a class="btn5" href="#">learn more</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====================================================================
						End Overview Section
=====================================================================-->
