<!--====================================================================
						Start Header Section
=====================================================================-->
<header class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				{{> elements/logo}}
			</div>
			<div class="col-md-9 col-sm-9">
				{{> menu/main-menu}}
			</div>
		</div>
	</div>
</header> <!--/End Header Area -->
<!--====================================================================
						End	Header Section
=====================================================================-->
