<!--====================================================================
					Start Holder Section
=====================================================================-->
<section class="holder-area ptb-1 bg-1">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="ceo-info">
					<h3 class="msg-ceo">Message from CEO</h3>
					<blockquote>
						<i class="fa fa-quote-left"> </i>
						Wedding is one of the most precious moments in an individual’s life. The idea of “Wedding Diary” was not just based on commercial thoughts; rather it was more in documenting those beautiful and tangible emotions in the eyes of my camera. To make your life easier Wedding Diary has got all the preparations equipped for you according to your choice and demand. Experience the beauty of vintage in a modern mode with the team Wedding Diary modern mode with team.
						<i class="fa fa-quote-right"></i>
					</blockquote>
					<div class="ceo-signature">
						alex shuvro
						<br>
						founder & ceo
					</div>
				</div>
			</div>
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="ceo-img">
					<img src="%=static=%img/assets/holder/ceo.jpg" alt="ceo-image" class="ceo">
				</div>
			</div>
		</div>
	</div>
</section>
<!--====================================================================
					End Holder Section
=====================================================================-->
