<!--====================================================================
						Start Preloader Section
=====================================================================-->
<div class="preloader">
	<div class="preloader-inner-area">
		<div class="loader-overlay">
			<div class="l-preloader">
				<div class="c-preloader"></div>
			</div>
		</div>
	</div>
</div>
<!--====================================================================
						End Preloader Section
=====================================================================-->